<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg"></div>
<TMPL_ELSE>

    <h3>search by</h3>

    <form id="form1" name="form1" method="post" action="<TMPL_VAR NAME=sPathMe>/listinst?op=byinstanceid&lang=en">
      <table width="50%" border="0">
	   <tr>
		 <td width="30%" align="right">instance id :</td>
		 <td width="70%"><input name="id_inst" type="text" id="id_inst" /></td>
	   </tr>
     </table>
    </form>
	or by
    <form id="form1" name="form2" method="post" action="<TMPL_VAR NAME=sPathMe>/dettrans?lang=en">
      <table width="50%" border="0">
	   <tr>
		 <td width="30%" align="right">transaction id :</td>
		 <td width="70%"><input name="id_trans" type="text" id="id_trans" /></td>
	   </tr>
     </table>
    </form>
	or by
    <form id="form1" name="form2" method="post" action="<TMPL_VAR NAME=sPathMe>/dettrans?lang=en">
      <table width="50%" border="0">
	   <tr>
		 <td width="30%" align="right">payment id :</td>
		 <td width="70%"><input name="id_pay" type="text" id="id_pay" /></td>
	   </tr>
     </table>
    </form>
	
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
