<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg"></div>
<TMPL_ELSE>

    <h3>Chercher par</h3>
    <p></p>

    <form id="form1" name="form1" method="post" action="<TMPL_VAR NAME=sPathMe>/listinst?op=byinstanceid&lang=fr">
      <table width="50%" border="0">
	   <tr>
		 <td width="30%" align="right">id instance:</td>
		 <td width="70%"><input name="id_inst" type="text" id="no_inst" /></td>
	   </tr>
     </table>
    </form>
	ou par
    <form id="form1" name="form2" method="post" action="<TMPL_VAR NAME=sPathMe>/dettrans?lang=fr">
    <table width="50%" border="0">
	   <tr>
		 <td width="30%" align="right">id transaction :</td>
		 <td width="70%"><input name="id_trans" type="text" id="id_trans" /></td>
	   </tr>
     </table>
    </form>
	ou par
    <form id="form1" name="form2" method="post" action="<TMPL_VAR NAME=sPathMe>/dettrans?lang=fr">
    <table width="50%" border="0">
	   <tr>
		 <td width="30%" align="right">id paiement :</td>
		 <td width="70%"><input name="id_pay" type="text" id="id_pay" /></td>
	   </tr>
     </table>
    </form>
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
