<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
	<p><TMPL_VAR NAME=sErrMsg></p>
<TMPL_ELSE>

	Manage your online payment instances for conferences, meetings, etc. 
	<p>You must have the <b>payonline</b> right or the <b>respadmin</b> role to access the application. 
	Contact your accreditation manager for more details.</p>
	
	<p><a href="<TMPL_VAR NAME="spathMe">/priv?lang=en">Login</a> </p>
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
