<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg"></div>
<TMPL_ELSE>
    <h3><TMPL_VAR NAME=sDescrInst></h3>

    <b>responsable : <TMPL_VAR NAME=respPrenom> <TMPL_VAR NAME=respNom></b><br>
    <b>fonds : <TMPL_VAR NAME=fonds></b><br>
    <b>nature comptable : <TMPL_VAR NAME=naturecomptable></b><br>
    <b>numéro instance : <TMPL_VAR NAME=sIDInst></b><br>
    <p></p>
    <b>Transactions payées</b>
    <p></p>
    <TMPL_VAR NAME="sKeys"><br>
    <TMPL_LOOP NAME=sLoop>
       <TMPL_VAR NAME="values"><br>
    </TMPL_LOOP>
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
