<TMPL_INCLUDE NAME="headtrans.tmpl">

<noscript>

<div class=redborder>
<h2>Warning</h2>
JavaScript is disabled on your browser, the payonline service is thus unavailable.<br>
Please enable JavaScript and then "<b>Reload</b>" the current page. 

</div>
</noscript>

<TMPL_IF NAME=redirectToHTTP>
	<TMPL_VAR NAME=redirectToHTTP>
</TMPL_IF>

<TMPL_IF NAME=sErrMsg>
  <div class="error">
  	<p><TMPL_VAR NAME=sErrMsg></p>
  </div>
<TMPL_ELSE>
	<p></p>

	<TMPL_IF NAME=sOnLoad>
		Redirecting to Postfinance web site...
		<div style="display:none;">
	<TMPL_ELSE>
		<div style="display:block;">
	</TMPL_IF>

	<form action="<TMPL_VAR NAME=YellowPaySrv>" method="POST" name="cmd" OnSubmit="
	 if (document.cmd.condgen.checked) {
		document.cmd.submit();
	 } else {
		alert ('Please read and accept the General Terms and Conditions in order to continue');
		return false; 
	 }
	 ">
  
	<input type="hidden" name="PSPID" value="<TMPL_VAR NAME=txtShopId>"> 
	<input type="hidden" name="orderID" value="<TMPL_VAR NAME=txtOrderIDShop>"> 
	<input type="hidden" name="amount" value="<TMPL_VAR NAME=txtParamTotal>"> 
	<input type="hidden" name="currency" value="<TMPL_VAR NAME=txtArtCurrency>"> 
	<input type="hidden" name="language" value="<TMPL_VAR NAME=txtLang>"> 
	<input type="hidden" name="SHASign" value="<TMPL_VAR NAME=txtHash>"> 

	<input type="hidden" name="CN" value="<TMPL_VAR NAME=txtBFirstName> <TMPL_VAR NAME=txtBLastName>"> 
	<input type="hidden" name="EMAIL" value="<TMPL_VAR NAME=txtBEmail>"> 
	<input type="hidden" name="ownerZIP" value="<TMPL_VAR NAME=txtBZipCode>"> 
	<input type="hidden" name="owneraddress" value="<TMPL_VAR NAME=txtBAddr1>"> 
	<input type="hidden" name="ownercty" value="<TMPL_VAR NAME=txtBCountry>"> 
	<input type="hidden" name="ownertown" value="<TMPL_VAR NAME=txtBCity>"> 
	<input type="hidden" name="ownertelno" value="<TMPL_VAR NAME=txtBTel>"> 
	<input type="hidden" name="COM" value="<TMPL_VAR NAME=txtInstDescr>"> 
	<input type="hidden" name="LOGO" value="https://www.epfl.ch/img/epfl.png"> 

	<!--		<input type="hidden" name="PMLIST" value="CreditCard;PostFinance e-finance"> -->
		 
	<b> The information you provided has been saved.</b>
	<p><b>In order to pay the bill of <TMPL_VAR NAME=txtUserTotal>&nbsp;<TMPL_VAR NAME=txtArtCurrency>
	you have to :</b>
	<blockquote>
	<li>read the <b>General Terms and Conditions</b>
	<li>check the box "I read and accept..."
	<li>click on <b>Proceed to payment</b> button to access PostFinance's online payment service for 
	effective payment process
	</blockquote>
	<p>You may pay by :</p>
	<blockquote>
	<li>PostFinance Card</li>
	<li>EUROCARD/MasterCard</li>
	<li>Visa  </li>
	<li>PayPal  </li>
	</blockquote>		
	<p></p>

	<div class="redborder">
	<b>Notes : </b>
	<blockquote>
	<li>you are going to leave now payonline@epfl site
	<li>do observe the steps proposed by the payment procedure
	<li>the connection to PostFinance is secured ; you may check the locker icon which guarantees the secure transaction
	</blockquote>		
	</div>

	<p>

	<a href="http://www.postfinance.ch/index.html.en" target="_blank"><img src="/images/postfinance.gif" width="150" height="54" border="0" align=right></a>

	<input type="checkbox" name="condgen" id="condgen"  <TMPL_VAR NAME=CGchecked>> I read and accept the  <a href="http://wiki.epfl.ch/payonline-aide/documents/CGpayonlineEN.pdf" target="_blank">General Terms and Conditions</a>
	</p>

	<input type="submit" name="go" value="Proceed to payment"> on Postfinance site

	</form>
  </div>

</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
