<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg">
<TMPL_ELSE>
  
	<div  class="editbox">
	<h3>Registration form details</h3>
	<form id="form1" name="form1" method="post" action="<TMPL_VAR NAME=sFormaction>">
	  <input name="id" type="hidden" id="id" value="<TMPL_VAR NAME=id>">
	
	  <table width="100%" border="0">
		<tr>
		  <td align="right">Instance Name : </td>
		  <td><TMPL_VAR NAME=descr></td>
		</tr>
		<tr>
		  <td align="right">Instance ID : </td>
		  <td><TMPL_VAR NAME=id></td>
		</tr>
	
		<tr>
		  <td align="right" valign="top">Detailed description <i>(Please provide the dates of the event)</i>
		  <br>
		  in <b>english</b>: 
		  
		  </td>
		  <td><textarea name="descr_en" cols="48" rows="2" id="descr_en"><TMPL_VAR NAME=DescrEN></textarea></td>
		</tr>
		<tr>
		  <td align="right" valign="top">in <b>french</b> :</td>
		  <td><textarea name="descr_fr" cols="48" rows="2" id="descr_fr"><TMPL_VAR NAME=DescrFR></textarea></td>
		</tr>
		<tr>
		  <td align="right" valign="top">Total amount :  </td>
		  <td><input name="total" id="descr" size="10" value="<TMPL_VAR NAME=Total>"> <TMPL_VAR NAME="Currency"></td>
		</tr>
	  </table>
	<hr>
	<br><b>Actions :</b>
	 [ <a href="#" OnClick="document.form1.mod.value=1;form1.submit();">save</a> ]
	 [ <a href="<TMPL_VAR NAME=sPathMe>/showform?lang=<TMPL_VAR NAME=sLang>&id=<TMPL_VAR NAME=id>" target="_blank">show</a> ]
	 [ <a href="<TMPL_VAR NAME=sPathMe>/detinst?lang=<TMPL_VAR NAME=sLang>&id=<TMPL_VAR NAME=id>">back to instance</a> ]
	
	</form>
	</div>

</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">