<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg">
<TMPL_ELSE>

<div >
<h3><TMPL_VAR NAME=inst_det_label></h3>
<form id="form1" name="form1" method="post" action="<TMPL_VAR NAME=sFormaction>" enctype="multipart/form-data">
  <input name="id" type="hidden" id="id" value="<TMPL_VAR NAME=id>">
  <input type="hidden" name="mod" >
  <input type="hidden" name="del" >
  <input type="hidden" name="valid" >
  <input type="hidden" name="activate" >
  <input type="hidden" name="inactivate" >
  <input type="hidden" name="etat" value="<TMPL_VAR NAME=etat>" >
<!--
  <input type="hidden" name="monnaie" value="<TMPL_VAR NAME=sMonnaie>" >
-->

  <div class="row">
    <TMPL_IF NAME=sSuperUser>
	   <div class="col-md-12 pb5" >
		 <div class="col-md-4 txt_right_pr5" style="display: inline;" >Responsable </div>
		 <div class="col-md-8"><TMPL_VAR NAME=respPrenom> <TMPL_VAR NAME=respNom></div>
	   </div>
    </TMPL_IF>
    <div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5"  valign="top"><TMPL_VAR NAME=inst_id_label></div>
      <div class="col-md-8"><b><TMPL_VAR NAME=id></b></div>
    </div>
    <div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5" ><TMPL_VAR NAME=fond_label></div>
      <div class="col-md-8"><TMPL_VAR NAME=sFonds></div>
    </div>
     <div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5" valign="top" >OIS<br>(Ordre Interne Statistique)
      </div>
      <div class="col-md-8"><input name="ois" size="48" value="<TMPL_VAR NAME=OIS>"></div>
    </div>

    <div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5"  valign="top">Description 
      <br><i><TMPL_VAR NAME=descr_note_label></i>
      </div>
      <div class="col-md-8"><textarea name="descr" cols="48" rows="2" id="descr"><TMPL_VAR NAME=Descr></textarea></div>
    </div>
	<div class="col-md-12 pb5" >
	  <div class="col-md-4 txt_right_pr5" ><TMPL_VAR NAME=compte_label></div>
	  <div class="col-md-8"><TMPL_VAR NAME=sNCTxt></div>
	</div>
	
	<TMPL_IF NAME=sValid>
	  <TMPL_IF NAME=sCodeTVA>
		<div class="col-md-12 pb5" >
		  <div class="col-md-4 txt_right_pr5" >Code TVA </div>
		  <div class="col-md-8"><TMPL_VAR NAME=sCodeTVA></div>
		</div>
	  </TMPL_IF>
	</TMPL_IF>
	
	<div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5" ><TMPL_VAR NAME=date_deb_label></div>
      <div class="col-md-8"><input name="datedeb" type="date" size="12" id="datedeb" value="<TMPL_VAR NAME=datedeb>" />
      </div>
    </div>
    <div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5" ><TMPL_VAR NAME=date_fin_label> </div>
      <div class="col-md-8"><input name="datefin" type="date" size="12" id="datefin"  value="<TMPL_VAR NAME=datefin>" />
      </div>
    </div>
	<div class="col-md-12 pb5" >
	  <div class="col-md-4 txt_right_pr5" ><TMPL_VAR NAME=cur_label> </div>
	  <div class="col-md-8"><TMPL_VAR NAME=sMonnaie></div>
	</div>
	<div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5"  valign="top">Contact mail </div>
      <div class="col-md-8"><input name="contact" value="<TMPL_VAR NAME=contact>" size="48">
      <br><i><TMPL_VAR NAME=mail_note_label></i>      
      </div>
    </div>
	<div class="col-md-12 pb5" >
	  <div class="col-md-4 txt_right_pr5" >URL Manifestation </div>
	  <div class="col-md-8"><input name="urlconf"  size="48" value="<TMPL_VAR NAME=urlconf>"></div>
	</div>
    <div class="col-md-12 pb5" >
      <div class="col-md-4 txt_right_pr5"  valign="top">URL Retour </div>
      <div class="col-md-8"><input name="url" type="text" id="url" size="48"  value="<TMPL_VAR NAME=URL>" />
      <br><i><TMPL_VAR NAME=url_ret_label></i>
      </div>
    </div>
    <div class="col-md-12 pb5" >
	  <div class="col-md-4 txt_right_pr5" valign="top"><TMPL_VAR NAME=confirm_mail_label> </div>
      <div class="col-md-8"><input name="mailinst" type="text" id="mailinst" size="48"  value="<TMPL_VAR NAME=mailinst>" /> 
      <br><i><TMPL_VAR NAME=confirm_mail_note_label></i></div>
	  </div>

    <div class="col-md-12 pb5 <TMPL_VAR NAME=style>" >
	  <div class="col-md-4 txt_right_pr5" ><TMPL_VAR NAME=status_label> </div>
	  <div class="col-md-8"><TMPL_VAR NAME=Etat></div>
	  </div>
    </div>
  </table>
<hr>
<br><b>Actions :</b>
 <TMPL_IF NAME=sValid>
 [ <a href="#" OnClick="document.form1.valid.value=1;form1.submit();"><TMPL_VAR NAME=actions_save_valid_label></a> ]
 <TMPL_ELSE>
 [ <a href="#" OnClick="document.form1.mod.value=1;form1.submit();"><TMPL_VAR NAME=actions_save_label></a> ]
 </TMPL_IF>

 <TMPL_IF NAME=sDelValid>
 [ <a href="#" OnClick="<TMPL_VAR NAME=sDelPath>"><TMPL_VAR NAME=actions_delete_label></a> ]
 </TMPL_IF>
 [ <a href="<TMPL_VAR NAME=sPathMe>/listtrans?lang=<TMPL_VAR NAME=sLang>&id=<TMPL_VAR NAME=id>"><TMPL_VAR NAME=actions_show_trans_label></a> ]
 <TMPL_IF NAME=sDelValid>
 [ <a href="<TMPL_VAR NAME=sPathMe>/demvalid?lang=<TMPL_VAR NAME=sLang>&id=<TMPL_VAR NAME=id>"><TMPL_VAR NAME=actions_valid_req_label></a> ]
 </TMPL_IF>
 <TMPL_IF NAME=sActivate>
 [ <a href="#" OnClick="document.form1.activate.value=1;form1.submit();"><TMPL_VAR NAME=actions_enable_label></a> ]
 </TMPL_IF>
 <TMPL_IF NAME=sInactivate>
 [ <a href="#" OnClick="document.form1.inactivate.value=1;form1.submit();"><TMPL_VAR NAME=actions_disable_label></a> ]
 </TMPL_IF>
</form>
</div>

</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
