<hr size="1" noshade color=#336699 width="50%">
<div class=path>
<center>
<TMPL_IF NAME=sAuthstr>
langue du profil : <TMPL_VAR NAME=sCVLang>, créé le : <TMPL_VAR NAME=sDateCr> par : <TMPL_VAR NAME=sCreator>, mise à jour le : <TMPL_VAR NAME=sDateMod> par : <TMPL_VAR NAME=sModBy> 
<br>
</TMPL_IF>
<a href=http://personnes.epfl.ch/fr/tmpl/respo.html>&copy;2004-<TMPL_VAR NAME="sCrtYear"> <TMPL_VAR NAME=sPrenom>&nbsp;<TMPL_VAR NAME=sNom></a> - EPFL, 1015 Lausanne.
<br />La responsabilité éditoriale de cette page est assumée par son auteur
</center>
</div>
<!--
<p class=redborder align=center><b>attention : ce site est en phase de développement, donc en changement et potentiellement instable.
<br>merci de votre compréhension</b>
</p>
-->

</body>
</html>
