<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Payonline EPFL</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="/extra/css/bootstrap.min.css">
<link rel="stylesheet" href="/extra/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/extra/css/main.css">

<link rel="stylesheet" href="/extra/css/jquery-ui.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.structure.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.theme.min.css">

<link rel="stylesheet" href="/extra/css/payonline.css">
<script src="/extra/js/payonline.js" type="text/javascript"></script>

</head>

<body >

<div class="content-wrapper">

	<div class="container" style="margin-bottom: 20px;">
		<div class="row">
			<header>
			<div class="col-md-12">
				<a href="http://www.epfl.ch" title="EPFL"><img src="https://www.epfl.ch/img/epfl_small.png"></a>
				<p class="header-title">Payonline EPFL</span></p>
			</div>
			</header>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12">
			<div  id="content" class="content">
