<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Payonline EPFL</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="/extra/css/bootstrap.min.css">
<link rel="stylesheet" href="/extra/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/extra/css/main.css">

<link rel="stylesheet" href="/extra/css/jquery-ui.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.structure.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.theme.min.css">

<link rel="stylesheet" href="/extra/css/payonline.css">
<script src="/extra/js/payonline.js" type="text/javascript"></script>

</head>

<body <TMPL_VAR NAME="sOnLoad">>

<div class="content-wrapper">

	<div class="container" style="margin-bottom: 20px;">
		<div class="row">
			<header>
			<div class="col-md-12">
				<a href="http://www.epfl.ch" title="EPFL"><img src="https://www.epfl.ch/img/epfl_small.png"></a>
				<p class="header-title">Payonline EPFL</span></p>

				<nav class="nav-lang nav-lang-short ml-auto pr-lg-5" style="float: right; color: red;">
					<ul style="list-style-type: none;">
					<li style="display: inline;">
					<TMPL_IF NAME=sLangFR>
						<a href="<TMPL_VAR NAME=sPathMe>/<TMPL_VAR NAME=sPathInfo>?lang=en" class="change_lang_fr">EN</a> <span aria-label="Français" class="active change_lang_en">FR</span>
					<TMPL_ELSE>
						<span aria-label="Français" class="active change_lang_en">EN</span> <a href="<TMPL_VAR NAME=sPathMe>/<TMPL_VAR NAME=sPathInfo>?lang=fr">FR</a>
					</TMPL_IF>
					</li>
					</ul>
				</nav>
			</div>
			</header>
		</div>
	</div>

	<div class="container">
		<div class="alert alert-warning" role="alert">
			<h4 class="alert-heading">
				Payonline will be discontinued at the end of the year!
			</h4>
			<p>
				Dear users,<br>
				Starting in 2024, it will no longer be possible to use PayOnline. 
				Our contract with PostFinance is coming to an end, and payments will 
				now be processed through Wordline's SaferPay.<br>
				The most convenient way to continue receiving payments is by using a form on a WordPress website.<br>
				We appreciate your understanding and cooperation.<br>
				Sincerely,<br>
				The PayOnline Administrators
			</p>
			<hr>
			<p class="mb-0">
				For additional information, please contact us at <a href="mailto:payonline@epfl.ch">payonline@epfl.ch</a>.
			</p>
		</div>

	 <div class="row">
			<h1>Payonline EPFL</h1>
			<TMPL_UNLESS NAME=txtOrderIDShop>
				<div style="display:flex; width: max-width; padding: 3px; border: 1px solid #bbbbbb; margin-bottom: 5px;">
					<TMPL_IF NAME=sAuthstr>
						<TMPL_IF NAME=sRespPayonline>
						<div style="display: inline; flex: 1;"><a href="http://sf.epfl.ch/files/content/sites/sf/files/shared/Doc-Xls/Ouverture_fds.docx"><TMPL_VAR NAME=menu_demfd_label></a></div>      
						</TMPL_IF>
					<div style="display: inline; flex: 1;"><a href="<TMPL_VAR NAME=sPathMe>/newinst?lang=<TMPL_VAR NAME=sLang>"><TMPL_VAR NAME=menu_new_label></a></div>  
					<div style="display: inline; flex: 1;"><a href="<TMPL_VAR NAME=sPathMe>/listinst?lang=<TMPL_VAR NAME=sLang>&etat=prod"><TMPL_VAR NAME=menu_inst_label></a></div>
					<div style="display: inline; flex: 1;"><a href="<TMPL_VAR NAME=sPathMe>/search?lang=<TMPL_VAR NAME=sLang>"><TMPL_VAR NAME=menu_search_label></a></div>  
					</TMPL_IF>
					<div style="display: inline; flex: 1;"><a href="http://wiki.epfl.ch/payonline-aide" target="_blank"><TMPL_VAR NAME=menu_help_label></a></div>
				</TMPL_UNLESS>
			</div>

		<div class="col-md-12">

			<div  id="content" class="content">
