		</div>	<!-- content	-->
	</div>		<!-- col-md-12	-->

<!-- 
	<div  class="col-md-4">
		<h3>Liens utiles</h3>  
			<li><a href="http://wiki.epfl.ch/payonline-aide/documents/CGpayonlineFR.pdf" target="_blank">les conditions générales</a></li>
			<li><a href=http://wiki.epfl.ch/payonline-aide#Contacts>contacts pour payonline</a></li>
	</div>			<!~~ right-col	~~>
 -->

</div>			<!-- row	-->
