<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
      <TMPL_VAR NAME=sErrMsg>
<TMPL_ELSE>
	<h2><TMPL_VAR NAME=priv_head_label></h2>

	<div class="col-md-12" style="margin-left: 10px;">
		<TMPL_VAR NAME=etapes_label>
	</div>
	
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
