<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
	<p><TMPL_VAR NAME=sErrMsg></p>
<TMPL_ELSE>
	<p>payonline@epfl.ch met à votre disposition un canal d'encaissement électronique pour vos manifestations, conférences, vente de services, etc.<br>
	L'accès à ce service est soumis au droit <b>payonline</b> du système d'accréditation. <br>
	Veuillez contacter votre responsable accréditation pour plus de détails.</p>
	
	<p><a href="<TMPL_VAR NAME="spathMe">/priv?lang=fr">Connexion</a> </p>

</TMPL_IF>

<TMPL_INCLUDE NAME="leftmenu.tmpl">

<TMPL_INCLUDE NAME="footer.tmpl">
