<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg"></div>
<TMPL_ELSE>

   <TMPL_VAR NAME=sMsg>

</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
