<TMPL_INCLUDE NAME="head.tmpl">

<h3>Paiement en ligne</h3>

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg"></div>
<TMPL_ELSE>

   <b>Demande de fonds</b> pour une instance de paiement en ligne
   <div class="greyborder">
   <pre><TMPL_VAR NAME=stxt></pre>
   </div>
   <p>Le message ci-dessus a été transmis au Service financier de l'EPFL; vous serez informés dès qu'une décision à ce
   sujet sera prise et le fonds créé sera disponible dans la liste du Centre financier respectif.</p>
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
