</div>			<!-- content	-->

<div  class="right-col">

	<div class="box box-flat-panel home-navpanel local-color" style="">
	<p>payonline.epfl.ch est un service qui met à votre disposition un canal d'encaissement électronique basé sur un service spécialisé de Postfinance.
	</p>
	</div>
	
	<div class="box" style="">
   <h3>Liens utiles</h3>  
	<ul class="link-list">
    <li><a href="http://wiki.epfl.ch/payonline-aide/documents/CGpayonlineFR.pdf" target="_blank">les conditions générales</a></li>
    <li><a href=http://wiki.epfl.ch/payonline-aide#Contacts>contacts pour payonline</a></li>
	</ul>
	</div>

</div>			<!-- right-col	-->
