<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg"></div>
<TMPL_ELSE>
    <h3>Instances</h3>
    Cliquer sur l'instance pour édition des paramètres ou consultation des transactions. Vous
    pouvez trier la liste des instances par "Description", "Etat" et "Date début".
    
    <p style="text-align:justify;">
    Instances : 
    [ <a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>&etat=prod">en production</a> ]
    [ <a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>&etat=test">en test</a> ]
    [ <a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>&etat=inact">inactives</a> ]
    [ <a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>&etat=archive">archivées</a> ]
    [ <a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>">toutes</a> ]
    </p>
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <th><a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>&orderby=descr">Description</a></th>
    <TMPL_IF NAME=sIsSuperUSer>
    <th width=130>Responsable</th>
    </TMPL_IF>
    <th><a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>&orderby=etat">Etat</a></th>
    <th>Fonds</th>
    <th width=70><a href="<TMPL_VAR NAME=sPathMe>/listinst?id=<TMPL_VAR NAME=id>&orderby=datedeb">Date début</a></th>
    <th width=70>Date fin</th>
    <TMPL_LOOP NAME=sLoop>
   	 <tr>
	   <td class="<TMPL_VAR NAME=style>">
	   <a href="<TMPL_VAR NAME=sEdit>"><TMPL_VAR NAME="descr"></a>
	   </td>
	   <TMPL_IF NAME=sIsSuperUSer>
	   <td class="<TMPL_VAR NAME=style>"><TMPL_VAR NAME=respPrenom> <TMPL_VAR NAME=respNom></td>
	   </TMPL_IF>
	   <td class="<TMPL_VAR NAME=style>"><TMPL_VAR NAME="etat"></td>
	   <td class="<TMPL_VAR NAME=style>"><TMPL_VAR NAME="fonds"></td>
	   <td class="<TMPL_VAR NAME=style>"><TMPL_VAR NAME="datedeb"></td>
	   <td class="<TMPL_VAR NAME=style>"><TMPL_VAR NAME="datefin"></td>
	 </tr>
    </TMPL_LOOP>
    </table>
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
