<TMPL_INCLUDE NAME="head_listtrans.tmpl">

<TMPL_IF NAME=sErrMsg>
  <div class=redborder>  <TMPL_VAR NAME="sErrMsg"></div>
<TMPL_ELSE>

    <h3><TMPL_VAR NAME=sDescrInst></h3>
    <div class="redborder"><b>l'instance est en état <TMPL_VAR NAME=etatinst></b></div>

    <b>responsable : <TMPL_VAR NAME=respPrenom> <TMPL_VAR NAME=respNom></b><br>
    <b>fonds : <TMPL_VAR NAME=fonds></b><br>
    <b>compte budgétaire : <TMPL_VAR NAME=naturecomptable></b><br>
    <b>numéro instance : <TMPL_VAR NAME=sIDInst></b><br>
    <p></p>
    <h3><TMPL_VAR NAME=sTitle></h3>  
    [ <TMPL_VAR NAME="sOtherTitle"> ]
    [ <a href="<TMPL_VAR NAME=sPathMe>/extrans?id=<TMPL_VAR NAME=sIDInst><TMPL_VAR NAME=sOp>">extraction CSV des transactions ci-dessous</a> ] [ <a href="<TMPL_VAR NAME=sPathMe>/listtrans?id=<TMPL_VAR NAME=sIDInst>&listall=1<TMPL_VAR NAME="sOp">">afficher toutes les transactions</a> ]
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <th>Nom Prénom</th>
    <th>Adresse</th>
    <th>Code Postal</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Total</th>
    <th><TMPL_VAR NAME="sTitleDate"></th>
    <th>Identification<br>PostFinance</th>
    <th>Payé par</th>
    <TMPL_LOOP NAME=sLoop>
   	 <tr>
	   <td class="underlined"><a href="<TMPL_VAR NAME=sPathMe>/dettrans?id_trans=<TMPL_VAR NAME=id>"><TMPL_VAR NAME="LastName"> <TMPL_VAR NAME="FirstName"></a></td>
	   <td class="underlined"><TMPL_VAR NAME="Addr"></td>
	   <td class="underlined"><TMPL_VAR NAME="ZipCode"></td>
	   <td class="underlined"><TMPL_VAR NAME="City"></td>
	   <td class="underlined"><TMPL_VAR NAME="Country"></td>
	   <td class="underlined"><TMPL_VAR NAME="Total"> <TMPL_VAR NAME="Currency"></td>
	   <td class="underlined"><TMPL_VAR NAME="datecr"></td>
	   <td class="underlined"><TMPL_VAR NAME="PaymentID"></td>
	   <td class="underlined"><TMPL_VAR NAME="paymode"></td>
	 </tr>
    </TMPL_LOOP>
    </table>
    <p></p>
    <a href="<TMPL_VAR NAME=sPathMe>/listtrans?id=<TMPL_VAR NAME=sIDInst>&listall=1<TMPL_VAR NAME="sOp">">afficher toutes les transactions</a>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
