<TMPL_INCLUDE NAME="headtrans.tmpl">

<noscript>

<div class=redborder>
<h2>Attention</h2>
La configuration de votre navigateur bloque l'exécution des scripts JavaScript. Le service de paiement en ligne ne peut pas fonctionner dans ces conditions<br>
Veuillez activer JavaScript sur votre navigateur et ensuite "<b>recharger</b>" cette page. 

</div>
</noscript>

<TMPL_IF NAME=redirectToHTTP>
	<TMPL_VAR NAME=redirectToHTTP>
</TMPL_IF>

<TMPL_IF NAME=sErrMsg>
	<div class="error">
	<p><TMPL_VAR NAME=sErrMsg></p>
	</div>
<TMPL_ELSE>
	<p></p>

  <TMPL_IF NAME=sOnLoad>
  	Redirection vers le site de Postfinance...
    <div style="display:none;">
  <TMPL_ELSE>
    <div style="display:block;">
  </TMPL_IF>
  
	<form action="<TMPL_VAR NAME=YellowPaySrv>" method="POST" name="cmd" OnSubmit="
	 if (document.cmd.condgen.checked) {
		document.cmd.submit();
	 } else {
		alert ('Veuillez consulter et cocher la case des conditions générales pour continuer');
		return false; 
	 }
	 ">
   
		<input type="hidden" name="PSPID" value="<TMPL_VAR NAME=txtShopId>"> 
		<input type="hidden" name="orderID" value="<TMPL_VAR NAME=txtOrderIDShop>"> 
		<input type="hidden" name="amount" value="<TMPL_VAR NAME=txtParamTotal>"> 
		<input type="hidden" name="currency" value="<TMPL_VAR NAME=txtArtCurrency>"> 
		<input type="hidden" name="language" value="<TMPL_VAR NAME=txtLang>"> 
		<input type="hidden" name="SHASign" value="<TMPL_VAR NAME=txtHash>"> 

		<input type="hidden" name="CN" value="<TMPL_VAR NAME=txtBFirstName> <TMPL_VAR NAME=txtBLastName>"> 
		<input type="hidden" name="EMAIL" value="<TMPL_VAR NAME=txtBEmail>"> 
		<input type="hidden" name="ownerZIP" value="<TMPL_VAR NAME=txtBZipCode>"> 
		<input type="hidden" name="owneraddress" value="<TMPL_VAR NAME=txtBAddr1>"> 
		<input type="hidden" name="ownercty" value="<TMPL_VAR NAME=txtBCountry>"> 
		<input type="hidden" name="ownertown" value="<TMPL_VAR NAME=txtBCity>"> 
		<input type="hidden" name="ownertelno" value="<TMPL_VAR NAME=txtBTel>"> 
		<input type="hidden" name="COM" value="<TMPL_VAR NAME=txtInstDescr>"> 
		<input type="hidden" name="LOGO" value="https://www.epfl.ch/img/epfl.png"> 

<!--		<input type="hidden" name="PMLIST" value="CreditCard;PostFinance e-finance"> -->

		   <b>Les informations vous concernant sont enregistrées.</b>
		   <p><b>Pour conclure le paiement du montant de <TMPL_VAR NAME=txtUserTotal>&nbsp;<TMPL_VAR NAME=txtArtCurrency>, veuillez suivre les &eacute;tapes suivantes :</b>
		   <blockquote>
		   <li>lire les <b>Conditions G&eacute;n&eacute;rales</b> ci-dessous
		   <li>cocher la case <b>J'ai lu et j'accepte...</b>
		   <li>cliquer sur le bouton <b>Effectuer le paiement</b> pour acc&eacute;der au service
		   de paiement en ligne de PostFinance et finaliser le paiement
		   </blockquote>
		   <p>Les moyens de paiement disponibles sont :</p>
		   <blockquote>
			<li>PostFinance Card (pour des sommes en CHF)</li>
			<li>EUROCARD/MasterCard</li>
			<li>Visa  </li>
			<li>PayPal  </li>
		   </blockquote>		
	   <p></p>
		   <div class="redborder">
		   <b>Attention : </b>
		   <blockquote>
		   <li>vous allez quitter le site payonline@epfl
		   <li>pour garantir le processus de paiement en ligne, vous devez suivre chaque étape comme proposé, sans fermer explicitement les fenêtres du navigateur
		   <li>la saisie de données qui suit a lieu à travers une connexion sécurisée qui encrypte les informations transmises ; vous pouvez cliquer sur le cadenas affiché par le navigater pour vérifier l'encryption de la communication
		   </blockquote>		

		   </div>

	<p>

	<img src="/images/postfinance.gif" width="150" height="54" border="0" align=right>

	<input type="checkbox" name="condgen" id="condgen" <TMPL_VAR NAME=CGchecked>> J'ai lu et j'accepte les <a href="http://wiki.epfl.ch/payonline-aide/documents/CGpayonlineFR.pdf" target="_blank">Conditions G&eacute;n&eacute;rales</a>
	</p>

	<input type="submit" name="go" value="Effectuer le paiement"> sur le site de Postfinance

	</form>
  </div>
  
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
