<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
      <TMPL_VAR NAME=sErrMsg>
<TMPL_ELSE>
	<p>Le service <strong>payonline.epfl.ch</strong> met &agrave; votre
	disposition une infrastructure pour l'encaissement &eacute;lectronique en collaboration avec Postfinance. </p>
	
	<!--      
	<div class="redborder">
	<p align="center"><strong>Attention : le serveur de test de Postfinance est hors service	!</strong>
	</p>
	</div>
	-->
	<h3 align="left">Etapes pour la mise en place des encaissements &eacute;lectroniques
	  de votre conf&eacute;rence :</h3>
	<blockquote>
	<ol>
	  <li> faire la <strong>demande
		  de fonds</strong> pour l'encaissement des prestations si
		  pas d&eacute;j&agrave; disponible </li>
	  <li>cr&eacute;er une <strong>instance
		  de paiement</strong> </li>
	  <li>cr&eacute;er le<strong> formulaire
		  d'enregistrement</strong> et le site de la conf&eacute;rence </li>
	  <li><strong>tester</strong> les
		paiements </li>
	  <li><strong>valider</strong> l'instance
		par le Service financier de l'EPFL : l'instance valid&eacute;e
		passe <b>automatiquement</b> en <strong>production</strong></li>
	  <li>mettre
		  le <strong>formulaire en ligne</strong> sur le site de la manifestation </li>
	</ol>
	</blockquote>
	
</TMPL_IF>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
